<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myjd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hou.server.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.hou.server.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoOrder</display-name>
    <servlet-name>DoOrder</servlet-name>
    <servlet-class>com.hou.server.DoOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoOrder</servlet-name>
    <url-pattern>/DoOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPay</display-name>
    <servlet-name>DoPay</servlet-name>
    <servlet-class>com.hou.server.DoPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPay</servlet-name>
    <url-pattern>/DoPay</url-pattern>
  </servlet-mapping>
</web-app>